{% extends "layout.html" %}
{% block css %}

{% set ns2 = namespace(cnt=0) %}
{% for avgstep in avgsteps %}
  .vcontent .vgraphl.{{avgstep[0]}} {
    top: {{100 - avgstep[2]}}%;
    background: linear-gradient(90deg, {{bar_color[ns2.cnt][0]}}, {{bar_color[ns2.cnt][1]}});
    animation-delay: 4.0s;
    width: 100%;
  }
  .vsider .vside{{avgstep[0]}} {
    position: absolute;
    top: {{100 - avgstep[2]}}%;
    height: 15%;
    display: flex;
    animation-delay: 4.0s;
    flex-direction: column;
  }
  {% set ns2.cnt = ns2.cnt + 1 %}
{% endfor %}

{% set ns3 = namespace(cnt=0)  %}
{% for weeklystep in weeklysteps %}
  .vcontent .vgraph.{{weeklystep[0]}}{{weeklystep[1]}}{
    height: {{weeklystep[4]}}%;
    bottom: 0;
    background: linear-gradient(90deg, {{bar_color[ns3.cnt % 3][0]}}, {{bar_color[ns3.cnt % 3][1]}});
    width: calc(100%/21);
    animation-delay: 2.5s;
    left: calc(100%/21 * {{ns3.cnt}});
  }  

  {% set ns3.cnt = ns3.cnt + 1 %}
{% endfor %}

{% set ns4 = namespace(cnt=0)  %}
{% for weekday in weekdays %}
  .vhead{{weekday[0]}} {
      position: absolute;
      top: 10%;
      width: calc(100%/7);
      left: calc(100%/7 * {{ns4.cnt}});;
      opacity: 1;
      color:{{DAYofWEEK[weekday[2]][1]}};
      text-align: center
    }
    {% set ns4.cnt = ns4.cnt + 1 %}
{% endfor %}

{% endblock %}
{% block content %}

<h3>{{weekdays[0][1]}}({{DAYofWEEK[weekdays[0][2]][0]}}) ～ {{weekdays[6][1]}}({{DAYofWEEK[weekdays[6][2]][0]}})</h3>
<div class="days">
  <div class="side">
    <div class="guide_top">
      <span>{{'{:,}'.format(weeklymaxstep)}}</span>
    </div>
    <div class="guide_middle">
      <span>{{'{:,}'.format(weeklymaxstep / 2)}}</span>
    </div>
  </div>
	<div class="vcontent">
    {% for weeklystep in weeklysteps %}
    <div class="vgraph {{weeklystep[0]}}{{weeklystep[1]}}">
      <span>{{'{:,}'.format(weeklystep[3])}}</span>
    </div>
    {% endfor %}
    {% for avgstep in avgsteps %}
    <div class="vgraphl {{avgstep[0]}}"></div>
    {% endfor %}
  </div>

  <div class="vsider">
    {% for avgstep in avgsteps %}
	  <div class="vside{{avgstep[0]}}">
	  	<span>{{avgstep[3]}}  一週間平均</span>
	  	<span>{{'{:,}'.format(avgstep[1])}}　歩</span>
	  </div>
    {% endfor %}
  </div>
</div>
<div class="days">
  <div class="headside"></div>
  <div class="heading">
    {% for weekday in weekdays %}
      <div class="vhead{{weekday[0]}}">{{weekday[1]}}({{DAYofWEEK[weekday[2]][0]}})</div>
    {% endfor %}
  </div>
</div>
<button id="chgView_button" value="前日">前日の歩数</button>
{% endblock %}